* {
    margin: 4px;
    padding: 0;
}

h3 {
    margin-top: 10px;
    margin-right: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.main {
    display: flex;
}

.img-bar {
    width: 140px;
    height: 20px;
    border-radius: 12cm;
}

.English-image {
    width: 100px;
    height: 20px;
    border-radius: 12cm;
    margin-left: 17px;
}